<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <img src="https://files.catbox.moe/rk5bg8.jpg" alt="Kevina" width="500">
    <h1>Hello, my name is {{ name }}</h1>
    <p>but you can call me <i>Keffe</i> or just <i>Kef</i></p>
    <article>I am <i>{{ age }}</i> years old</article>
    
    <br>

    <h3>My Hobbies:</h3>
    <ul>
        <li>Reading</li>
        <li>Listening to music</li>
        <li>Playing games</li>        
        <li>Watching movies or streams</li>
    </ul>  
    
    <br>

    <h3>Educations:</h3>
    <ul>
        <li>2007-2010	SD Pelita 2</li>
        <li>2010-2014	SDK Ipeka Tomang</li>
        <li>2014-2017	SMPK Ipeka Tomang 2</li>        
        <li>2017-2019	SMAN 78 Jakarta</li>
    </ul> 

    <p>I'm currently studying <i>{{ major }}</i> at <i>{{ uni }}</i></p>
    <p><b>NPM</b> : {{ npm }}</p>
    <p>I'm part of <i>{{ angkatan }}</i></p>

    <br>

    <h3>About me in a nutshell:</h3>
    <p><i>I don’t have many experiences nor am I an expert in this field but I’m quite desperate so here we are</i></p>

    <br>

    <h3>Hit me up at:</h3>
    <ul>
        <li><a href="https://www.instagram.com/kevin_af__/">Instagram</a></li>
        <li><a href="https://twitter.com/kevin_af__">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/kevinafeliearihadi02/">LinkedIn</a></li>
    </ul>

</body>
</html>
